<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" id="index" xml:lang="sv">
  <info>
    <title type="text">Accerciser</title>
    <title type="link">Introduction to <app>Accerciser</app></title>
    <credit type="author">
      <name>Eitan Isaacson</name>
      <email>eitan@ascender.com</email>
    </credit>
    <credit type="author">
      <name>Peter Parente</name>
      <email>pparent@us.ibm.com</email>
    </credit>
    <credit type="author">
      <name>Aline Bessa</name>
      <email>alibezz@gmail.com</email>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>
  </info>
  <title>
    <media type="image" mime="image/png" its:translate="no" src="figures/accerciser-logo.png">
      <span its:translate="yes"><app>Accerciser</app>'s logo</span>
    </media>
    <app>Accerciser</app>
  </title>
  <note style="important">
    <title>Before You Begin</title>
    <p>
      Read the <link xref="help:gnome-help/a11y">Universal Access Help</link>
    </p>
  </note>
  <section id="getting_started" style="2column">
    <title>Komma igång</title>
  </section>
  <section id="examining_a11y" style="2column">
    <title>Examining the Accessibility of an Application</title>
  </section>
  <section id="advanced" style="2column">
    <title>Advanced Topics</title>
  </section>
</page>
