<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="preferences_setting" xml:lang="en-GB">
  <info>
    <link type="guide" xref="index#advanced"/>
    <title type="sort">4. Preferences</title>
    <!-- link type="next" xref="event_monitor_plugin" /-->
    <desc>
      Customizing <app>Accerciser</app>'s preferences 
    </desc>
    <credit type="author">
      <name>Eitan Isaacson</name>
      <email>eitan@ascender.com</email>
    </credit>
    <credit type="author">
      <name>Peter Parente</name>
      <email>pparent@us.ibm.com</email>
    </credit>
    <credit type="author">
      <name>Aline Bessa</name>
      <email>alibezz@gmail.com</email>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>
  </info>
  <title> Configuring <app>Accerciser</app></title>
  <p>
    To configure plugins, hotkeys, and highlighting, do either <key>ctrl</key>+<key>p</key> or <guiseq><gui>Edit</gui>
    <gui>Preferences</gui></guiseq> to open a dialog.
  </p>

  <figure>
    <title><app>Accerciser</app> preferences</title>
    <desc>
      <app>Accerciser</app> allows you to configure plugins, global hotkeys, and widget's highlighting.
    </desc>
    <media type="image" mime="image/png" width="900" height="500" src="figures/accerciser_preferences.png">
      <p>
        <app>Accerciser</app> allows you to configure plugins, global hotkeys, and widget's highlighting.
      </p>
    </media>
  </figure>

  <section id="plugin">
    <title>Configuring plugins</title>
    <p>
      After opening the Preferences Dialog, you will find a list of all available plugins, with corresponding checkboxes,
      under the "Plugins" tab. To enable or disable a plugin, toggle its checkbox. Only active plugins can be accessed via 
      <app>Accerciser</app>'s interface.
    </p>
    <p>
      Right-clicking on any given plugin allows you to choose its location: "Top Panel", "Bottom Panel", and "New View". Selecting "New 
      View" creates a new window for the plugin.
    </p>


  <figure>
    <title>Configuring plugins' preferences</title>
    <desc>
     <app>Accerciser</app> allows you to adjust your plugins' preferences.
    </desc>
    <media type="image" mime="image/png" src="figures/plugins.png">
      <p> 
       <app>Accerciser</app> allows you to adjust your plugins' preferences.
      </p>
    </media>
  </figure>

    <note style="tip">
      <p>
        You may bypass the Preferences dialog by using drag and drop to move a plugin from a location to another.
      </p>
    </note>
  </section>

  <section id="global_hotkey">
    <title>Configuring global hotkeys</title>
    <p>
      Some elements in <app>Accerciser</app> may enable certain functionalities via hotkeys. An example is the 
      <link xref="quick_select_plugin">Quick Select Plugin</link>. The hotkey combination for each functionality
      can be changed via the Preferences dialog, under the "Global Hotkeys" tab. Under this tab,  you will find a
      list of all features for which hotkeys can be configured. Use the <cmd>ctrl</cmd>, <cmd>alt</cmd>, and 
      <cmd>shift</cmd> checkboxes to enable or disable these modifiers.
    </p>

    <figure>
    <title>Configuring global hotkeys' preferences</title>
    <desc>
     <app>Accerciser</app> allows you to adjust your hotkeys' preferences.
    </desc>
    <media type="image" mime="image/png" src="figures/global-hotkeys.png">
      <p> 
       <app>Accerciser</app> allows you to adjust your plugin's preferences.
      </p>
    </media>
  </figure> 

   </section>
   <section id="highlighting">
     <title>Configuring widget's highlighting</title>
     <p>
       Some of <app>Accerciser</app>'s elements, such as the global hotkey <key>ctrl</key>+<key>alt</key>+<key>/</key>,
       highlight a specific widget in a target application. The highlighting duration, border color, and fill color can
       be customized via the Preferences dialog, under the "Highlighting" tab.
     </p>

    <figure>
    <title>Configuring highlighting preferences</title>
    <desc>
     <app>Accerciser</app> allows you to adjust your highlighting preferences.
    </desc>
    <media type="image" mime="image/png" src="figures/highlighting.png">
      <p> 
       <app>Accerciser</app> allows you to adjust your highlighting preferences.
      </p>
    </media>
  </figure>
   </section>
</page>
